/* LINKS  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap");
/* GLOBAL STYLES  */
html {
  margin: -10px;
  padding: -13px;
}
/* HEADER STYLES  */

header {
  background: lightgray;
  font-family: Oswald, sans-serif;
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}

.header_section {
  display: flex;
  flex-direction: row;
}

.heading {
  display: flex;
  justify-content: center;
  margin: auto;
}

.logo img {
  width: 75px;
  height: 75px;
  padding-left: 15px;
}

.daily-journal-heading {
  font-family: Oswald, sans-serif;
}

/* MAIN STYLES */

.main-style {
  display: flex;
  flex-direction: column;
  width: 800px;
}

main {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-family: Monserrat, sans-serif;
}

.journal {
  background: lightgray;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.date {
  display: flex;
  flex-direction: column;
}
.date input {
}

.entry {
  display: flex;
  flex-flow: column;
}

.entry textarea {
}

.post-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.post-row p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
}
.concepts {
  display: flex;
  flex-flow: column;
}

.concepts input {
}

.mood {
  display: flex;
  flex-flow: column;
}

.mood select {
}

/* BUTTON SECTION  */

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}

/* ENTRIES SECTION  */

.journalEntry {
  padding: 5px 0px;
}

.entry-section {
  height: 500px;
  border: 1px black solid;
  padding: 0px 10px;
}

/* FOOTER STYLES  */

.copyright {
  text-align: center;
  padding-top: 20px;
}
