/* LINKS  */

/* GLOBAL STYLES  */

/* HEADER STYLES  */
.header_section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 75px;
  height: 75px;
}

/* MAIN STYLES */

.date {
  display: flex;
  flex-direction: column;
}
.date input {
  max-width: 200px;
}

.entry {
  display: flex;
  flex-flow: column;
}

.entry textarea {
  max-width: 200px;
}

.concepts {
  display: flex;
  flex-flow: column;
}

.concepts input {
  max-width: 200px;
}

.mood {
  display: flex;
  flex-flow: column;
}

.mood select {
  max-width: 200px;
}

/* FOOTER STYLES  */

.copyright {
  text-align: center;
}
